<p>listado works!</p>
<!-- <button class="btn btn-primary" (click)="modificar()">Modificar</button>
<button class="btn btn-primary" (click)="verEnConsola()">Ver en consola</button> -->
<button class="btn btn-primary" (click)="traerColeccion()">Ver en consola</button> -->

<ul>
    <li *ngFor="let item of listado">
        <span>
            {{item.mayorMenor}}
        </span>
        <span>
            {{item.preguntados}}
        </span>
        <button class="btn btn-info btn-circle">
            Mostrar Detalles
        </button>
    </li>
</ul>