<div style="width: 30rem; padding: 2rem 3rem">
  <h2>Encuesta</h2>
  <form [formGroup]="encuestaForm" (ngSubmit)="onSubmit()">
    <div class="form-group" formGroupName="userData">
      <div class="d-flex">
        <div style="margin-right: 2rem;">
          <label for="nombre">
            Nombre
          </label>
          <input
            type="text"
            id="nombre"
            formControlName="nombre"
            class="form-control"
            required
          >
          <div style="height: 2rem;">
            <span
              *ngIf="!nombre?.valid && nombre?.touched"
              class="help-block text-danger"
            >
              Nombre inválido
            </span>
          </div>
        </div>
        <div>
          <label for="apellido">
            Apellido
          </label>
          <input
            type="text"
            id="apellido"
            formControlName="apellido"
            class="form-control"
            required
          >
          <div style="height: 2rem;">
            <span
              *ngIf="!apellido?.valid && apellido?.touched"
              class="help-block text-danger"
            >
              Apellido inválido
            </span>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div style="margin-right: 2rem;">
          <label for="edad">
            Edad (18-99 años)
          </label>
          <input
            type="number"
            id="edad"
            formControlName="edad"
            class="form-control w-75"
            required
          >
          <div style="height: 2rem;">
            <span
              *ngIf="!edad?.valid && edad?.touched"
              class="help-block text-danger">
                Edad inválida
            </span>
          </div>
        </div>
        <div>
          <label for="tel">
            Número de teléfono
          </label>
          <input
            type="number"
            id="tel"
            formControlName="tel"
            class="form-control"
            required
          >
          <div style="height: 2rem;">
            <span
              *ngIf="!tel?.valid && tel?.touched"
              class="help-block text-danger">
                Número de teléfono inválido
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" formGroupName="gameData">
      <div class="d-flex">
        <div style="margin-right: 2rem;">
            <div class="radio" *ngFor="let juego of juegos">
              <label>
                <input
                  type="radio"
                  formControlName="juego"
                  [value]="juego"
                >
                  {{ juego }}
              </label>
            </div>
        </div>
      </div>      
    </div>
    
    <div style="height: 2rem;">
      <span
      *ngIf="!encuestaForm.valid && encuestaForm.touched"
        class="help-block text-danger">
          Encuesta inválida
      </span>
    </div>
    
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>