<div class="container d-flex flex-column align-items-center justify-content-around border w-50 p-0" style="height: 75vh;">

    <div class="h-50 w-100 d-flex align-items-center justify-content-center bg-light bg-gradient">
        <img src="{{imagen}}" alt="Foto" class="mh-100 mw-100">
    </div>

    <p class="fs-3 m-0">
        {{pregunta}}
    </p>

    <div class="d-flex flex-column justify-content-around h-25 w-75">
        <button class="btn btn-outline-primary rounded w-100" *ngFor="let respuesta of respuestas" (click)="onRtaClick(respuesta)">
            {{respuesta}}
        </button>
    </div>

    <p class="lead">
        Puntaje: {{puntaje}}
    </p>
</div>