<div class="container">
    <table class="table table-striped" style="text-align: center;">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Ahorcado</th>
                <th>Mayor o Menor</th>
                <th>Preguntados</th>
                <th>Alcoholímetro</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of estadisticas">
                <td>{{item.email}}</td>
                <td>{{item.ahorcado}}</td>
                <td>{{item.mayorMenor}}</td>
                <td>{{item.preguntados}}</td>
                <td>{{item.alcohol}}</td>
            </tr>            
        </tbody>
    </table>
</div>