<div style="
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 70vh;
    width: 50rem;"
>
    <h1 style="align-self: flex-start; color: azure; margin: .5em;">
        Sala de chat
    </h1>
    <div style="overflow: auto;">
        <div
            *ngFor="let mensaje of mensajes"
            class="bg-dark"
            style="
                padding-left: 1em;
                padding-right: 1em;
                margin: 1em;
                border-radius: 1em;"
        >
            <p class="fw-bold">
                <span class="fw-light">
                    {{mensaje.hora}}
                </span>
                {{mensaje.email}}:
            </p>
            <p style="text-align: end;">
                {{mensaje.texto}}
            </p>
        </div>
    </div>
    <div style="width: 60%; margin: 1em;">
        <input
            onFocus="this.select()"
            type="text"
            class="w-100"
            [(ngModel)]="texto"
            (keydown)="teclaApretada($event)"
        >
    </div>
</div>