<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a id="home" class="navbar-brand" routerLink="/page/home">Catania</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/page/quien-soy" routerLinkActive="active">Quién soy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/page/chat" routerLinkActive="active">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/page/estadisticas" routerLinkActive="active">Estadísticas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/page/encuesta" routerLinkActive="active">Encuesta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/page/respuestas" routerLinkActive="active">Respuestas (admin.)</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink"
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Juegos
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li class="nav-item">
            <a class="nav-link" routerLink="/page/juegos/ahorcado" routerLinkActive="active">Ahorcado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/page/juegos/mayor-menor" routerLinkActive="active">Mayor o Menor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/page/juegos/preguntados" routerLinkActive="active">Preguntados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/page/juegos/alcoholimetro" routerLinkActive="active">Alcoholímetro</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div style="margin-right: 1em;">
    <span class="text-light mx-3">{{this.email}}</span>
    <button class="btn btn-danger" (click)="signOut()">Log Out</button>
  </div>
</nav>
