<div class="d-flex flex-column justify-content-center align-items-center my-5">
    <h1>Juego del ahorcado</h1>

    <div class="d-flex m-5">
        <div
            style="
                padding: .5em;
                margin: .5em;
                border-bottom: 1px solid;
                height: 2.5em;
            "
            *ngFor="let caracter of this.arrayActual"
        >
            <span>
                {{caracter}}
            </span>
        </div>
    </div>
    <div>
        <p *ngIf="this.vidas > 0 && !this.juegoTerminado">
            Te quedan <span>{{this.vidas}}</span> vidas.
        </p>
        <p *ngIf="this.vidas === 0" class="text-danger fw-bold">
            ¡AHORCADO!
        </p>
        <p *ngIf="this.vidas > 0 && this.juegoTerminado" class="text-success fw-bold">
            ¡GANASTE!
        </p>
    </div>
    <div class="row w-50 justify-content-center" *ngIf="!this.juegoTerminado">
        <div
            class="col-1 m-1"
            *ngFor="let caracter of this.letras"
        >
            <button *ngIf="caracter" class="btn btn-primary" (click)="onTeclaClick(caracter)">
                {{caracter}}
            </button>
        </div>
    </div>

    <div class="m-4">
        <button *ngIf="this.juegoTerminado" class="btn btn-outline-primary" (click)="reiniciar()">
            ¿Reiniciar?
        </button>
    </div>

    <p class="">
        Puntaje: {{puntaje}}
    </p>
    <button class="btn btn-primary rounded w-25" (click)="sendScore()">
        Guardar score
    </button>
</div>